<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand px-5" href="#"
        ><h3><b>EXPO</b>store-admin</h3></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/view-product">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/view-users">Users</a>
          </li>
        </ul>
        <div class="dropdown me-2">
          <a
            class="btn btn-light dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-regular fa-user"></i>
            &nbsp; <% if(locals.adminData) {%> <%= locals.adminData.username %>
            <% }else{ %> Account <% } %>
          </a>

          <ul
            class="dropdown-menu bg-opacity-25"
            aria-labelledby="dropdownMenuLink"
          >
            <li>
              <% if(locals.adminData) {%>
              <a class="dropdown-item" href="/admin/logout">Logout</a>
              <a class="dropdown-item" href="/admin/signup">Create Admin</a>
              <% }else{ %>
              <a class="dropdown-item" href="/admin/login">Login</a>
              <% } %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
