<header>
  <nav
    class="navbar fixed-top navbar-expand-lg navbar-dark bg-opacity-75 bg-dark p-0"
  >
    <div class="container-fluid">
      <a class="navbar-brand pe-3 ps-3" href="/">
        <img
          src="/users/images/logos/EXPO-store.png"
          width="250"
          alt=""
          class="d-inline-block align-middle mr-2"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <% if(locals.user){ %>
          <li class="nav-item">
            <a class="nav-link" href="/cart"
              ><i class="fa-solid fa-cart-shopping"></i> Cart
              <span class="badge bg-secondary zindex-offcanvas" id="cart-count"
                ><%= locals.cartCount %>
              </span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wishlist"
              ><i class="fa-solid fa-heart"></i> Wishlist<span
                class="badge bg-secondary zindex-offcanvas"
                id="wishlist-count"
                ><%= locals.wishlistCount %></span
              ></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Orders</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <div class="dropdown me-2">
          <a
            class="btn btn-transparent dropdown-toggle"
            href="#"
            role="button"
            style="color: #b0aeae"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-regular fa-user"></i>
            &nbsp; <% if (locals.user){ %> <%= locals.user.username %> <%
            }else{%> Account <% } %>
          </a>

          <ul
            class="dropdown-menu bg-dark bg-opacity-25"
            aria-labelledby="dropdownMenuLink"
          >
            <li>
              <%if (locals.user){%>
              <a class="dropdown-item" style="color: #b0aeae" href="/logout"
                >Logout</a
              >
              <%}else{%>
              <a class="dropdown-item" style="color: #b0aeae" href="/login"
                >Login</a
              >
              <a class="dropdown-item" style="color: #b0aeae" href="/signup"
                >Signup</a
              >
              <%}%>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
