<header>
  <nav
    class="navbar fixed-top navbar-expand-lg navbar-dark bg-opacity-75 bg-dark py-0"
  >
    <div class="container-fluid">
      <a class="navbar-brand px-5" href="/"
        ><h3><b>EXPO</b>store-user</h3></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
          </li>
        </ul>
        <div class="dropdown me-2">
          <a
            class="btn btn-transparent dropdown-toggle"
            href="#"
            role="button"
            style="color: #b0aeae"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-regular fa-user"></i>
            Account
          </a>

          <ul
            class="dropdown-menu bg-dark bg-opacity-25"
            aria-labelledby="dropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" style="color: #b0aeae" href="/login"
                >Login</a
              >
            </li>
            <!-- <li>
              <a class="dropdown-item" style="color: #b0aeae" href="#"
                >Another action</a
              >
            </li>
            <li>
              <a class="dropdown-item" style="color: #b0aeae" href="#"
                >Something else here</a
              >
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
