<section style="background-color: #eaddbf">
  <div
    class="container d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="row d-flex flex-column">
      <div class="col d-flex justify-content-center"></div>
      <div class="col text-center">
        <img
          class="w-25 h-25"
          src="/users/images/logos/EXPO-store-black.png"
          alt="Expo-store"
        />
        <h1 class="text-center text-danger display-1" style="font-size: 400px">
          <b>404!</b>
        </h1>
        <h6 class="text-center">
          We cannot find the page you are looking for.
        </h6>
      </div>
      <div class="col text-center">
        <a href="/" class="btn btn-outline-secondary">Go to home</a>
      </div>
    </div>
  </div>
</section>
