<section
  class="text-center about d-flex justify-content-center"
  style="background-color: #eaddbf; padding-top: 6%"
>
  <div class="container" style="padding-bottom: 5%">
    <div class="row text-black mt-3"><h1>About Us</h1></div>
    <div class="row pt-5">
      <div
        class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
        data-wow-offset="200"
      >
        <span class="fa fa-group text-black"></span>
        <h2 class="text-black">Us</h2>
        <p class="lead">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled
        </p>
      </div>
      <div
        class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
        data-wow-offset="200"
      >
        <span class="fa fa-info text-black"></span>
        <h2 class="text-black">Info</h2>
        <p class="lead">
          This is an e-commerce website built by me and is my first project.
          This website contains many functionalities that an e-commerce website
          should contain. Main attractions of this website are login, signup,
          home, cart, wishlist, order management, user profile, reutrns, OTP
          login, mobile verification etc.
        </p>
      </div>
      <div
        class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
        data-wow-offset="200"
      >
        <span class="fa fa-file text-black"></span>
        <h2 class="text-black">Section 3</h2>
        <p class="lead">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled
        </p>
      </div>
    </div>
  </div>
</section>
