<section class="vh-100" style="background-color: #9a616d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="users/images/SignUp.png"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form action="/login" method="post" id="formValidation">
                  <h5
                    class="fw-normal mb-3 pb-3"
                    style="font-size: 50px; font-family: Arial, sans-serif"
                  >
                    Login
                  </h5>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control form-control-lg"
                      placeholder="Email ID"
                      required
                    />
                    <!-- <label class="form-label" for="email"
                      >Email address</label
                    > -->
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      name="password"
                      id="form2Example27"
                      class="form-control form-control-lg"
                      placeholder="Password"
                    />
                    <!-- <label class="form-label" for="password"
                      >Password</label
                    > -->
                  </div>

                  <% if (locals.access === false){ %>
                  <p class="text-danger"><%= locals.blockedMessage %></p>
                  <% } %>

                  <% if (locals.loginErr){ %>
                  <p class="text-danger m-auto"><%= locals.loginErr %></p>
                  <% } %>

                  <div class="pt-1 mb-4">
                    <button
                      class="btn btn-dark btn-lg btn-block"
                      id="popupBtn"
                      type="submit"
                    >
                      Login
                    </button>
                  </div>

                  <a
                    class="small text-muted"
                    href="#!"
                    style="text-decoration: none"
                    >Forgot password?</a
                  >
                  <p class="mb-5 pb-lg-2" style="color: #393f81">
                    NewBee?
                    <a
                      href="/signup"
                      style="color: #393f81; text-decoration: none"
                      >Register here</a
                    >
                  </p>
                  <!-- <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div
      class="card bg-danger text-center"
      id="popupContainer"
      style="
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 50%;
        display: none;
      "
    >
      <div class="card-body model">
        <p class="card-title display-1 text-white">You are blocked</p>
        <a href="#" class="btn bg-white text-danger" id="closeBtn">Close</a>
      </div>
    </div>
  </div> -->
</section>

<!-- <script>
  $(document).ready(function () {
    //show popup
    $("#popupBtn").click(function () {
      $("#popupContainer").show();
    });

    //close popup
    $("#closeBtn").click(function () {
      $("#popupContainer").hide();
    });
  });
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

<script text="text/javascript" src="/users/javascript/loginValidation.js"></script>
