<section class="h-100" style="background-color: #dbc89c">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block" style="background-color: #ede2c8">
                <img
                  src="users/images/gallery-02.jpg"
                  alt="Sample photo"
                  class="img-fluid"
                  style="
                    border-top-left-radius: 0.25rem;
                    border-bottom-left-radius: 0.25rem;
                  "
                />
              </div>
  
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black" style="background-color: #ede2c8">
                  <h3 class="mb-5 text-uppercase">SIGNUP FORM</h3>
                  <form
                    action="/signup"
                    id="form"
                    method="post"
                    class="mx-1 mx-md-4"
                  >
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            name="firstname"
                            id="firstname"
                            style="background-color: #f0e9d9"
                            placeholder="First name"
                          />
                          <!-- <p class="text-danger">locals.nameMsg</p> -->
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            name="lastname"
                            id="lastname"
                            style="background-color: #f0e9d9"
                            placeholder="last name"
                          />
                        </div>
                      </div>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        name="username"
                        id="username"
                        style="background-color: #f0e9d9"
                        placeholder="Username"
                      />
                      <!-- <p class="text-danger">locals.usernameMsg</p> -->
                    </div>
  
                    <div class="form-outline mb-4">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        name="email"
                        id="email"
                        style="background-color: #f0e9d9"
                        placeholder="Email ID"
                      />
                      <!-- <p class="text-danger">locals.emailMsg</p> -->
                    </div>
  
                    <div class="form-outline mb-4">
                      <input
                        type="password"
                        class="form-control form-control-lg"
                        name="password"
                        id="password"
                        style="background-color: #f0e9d9"
                        placeholder="Password"
                      />
                      <!-- <p class="text-danger">locals.pwdMsg</p> -->
                    </div>
  
                    <div class="form-outline mb-4">
                      <input
                        type="password"
                        class="form-control form-control-lg"
                        name="confirmpassword"
                        id="password"
                        style="background-color: #f0e9d9"
                        placeholder="Confirm Password"
                      />
                      <!-- <p class="text-danger">locals.confirmpwdMsg</p> -->
                    </div>
  
                    <div class="form-outline mb-4">
                      <input
                        type="number"
                        class="form-control form-control-lg"
                        name="mobilenumber"
                        id="mobilenumber"
                        style="background-color: #f0e9d9"
                        placeholder="Mobile Number"
                      />
                      <!-- <p class="text-danger">locals.mobileMsg</p> -->
                    </div>
                      <!-- <p class="text-danger m-auto">locals.err</p> -->
  
                    <div class="d-flex justify-content-end pt-3">
                      <button type="submit" class="btn btn-warning btn-lg ms-2">
                        Submit form
                      </button>
                  </form>  
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  